* {
  margin: 0;
}
body {
  background-color: #444654;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161616;
  color: #fff;
  padding: 20px;
}

.logo {
  font-size: 24px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.main {
  width: 100vw;
  height: 50vh;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-left: 150px;
}

.main > * {
  flex-basis: 80%;
}
input {
  width: 80vw;
  border-radius: 5px;
  border: black 1px solid;
  padding: 10px;
  margin-bottom: 20px;
}
input::placeholder {
  color: black;
}
button {
  margin-top: 50px;
  width: 250px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  margin-left: 150px;
  cursor: pointer;
  border-radius: 10px;
}
button:hover {
  background-color: #00bcd4;
}
.heading {
  font-weight: bolder;
  font-size: 32px;
  margin-left: 450px;
  color: white;
}
@media screen and (max-width: 1100px) {
  .main {
    width: 100vw;
    height: 50vh;
    margin-top: 70px;

    margin-left: 50px;
  }
  .heading {
    margin-left: 40px;
  }
}
@media screen and (max-width: 500px) {
  button {
    margin-left: 50px;
    width: 40vw;
  }
  .main {
    margin-top: 30px;

    margin-left: 30px;
  }
}
